/*
Focusing a mobile first layout, so everything here will be for smaller mobile displays
up to something like a Galaxy s8 or iPhone 8 Plus.
*/

/*****************************   Header Styling   *****************************/
.header-content {
  width: 100%;
  height: 3em;
  margin: 0px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.social-container {
  display: flex;
  -webkit-display: flex;
}

.social-container :nth-child(0n+2) {
  padding: 0 5px;
}

.social img {
  border-radius: 8px;
}

/*****************************   Main Content Styling   *****************************/


/*****************************   Footer Styling   *****************************/
.footer-content {
  width: 100%;
  margin: auto 0px 0px;
}

.footer-base {
  text-align: center;
  padding: 0 0 5px;
}

.footer-text {
  font-style: italic;
  font-size: 1.15em;
}

.footer-subtext {
  font-size: .6em;
}