/*
overall page setup
*/
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

#main {
  display: flex;
  flex-direction: column;
  align-content: center; /*center along main axis*/
  font-family: sans-serif;
  height: 100%;
}

.app-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/*
common panel/ui styling
*/
.info-panel {
  width: 100%;
  margin: 0px 0px 10px;
  flex: 1 0 auto;
}

/*
logo/header
*/
.logo-content {
  margin: 0px 0px 20px;
}

.img-fill {
  max-height: 100%;
  max-width: 100%;
}

/*
features list
*/
.features-content {
  margin: 0px 0px 60px;
}

.features-list {
  font-size: 1.3em;
  padding-left: 30px;
}

.red-li-items {
  color: red;
}

/*
navigation links
*/
.navigation-content {
  display: flex;
  justify-content: space-between;
  font-size: 1.0em;
  margin: 0px 0px 25px;
}

/*
sizes and rates
*/
.sizes-and-rates {
  display: flex;
  justify-content: center;
}

.rate-size-table td {
  padding: 7px 0px 1px;
}

.rate-size-table-header {
  font-weight: 700;
  font-size: 1.1em;
  border-bottom: 3px solid black;
}

.sizes-header {
  width: 100px;
}

.rent-header {
  width: 150px;
}

.rate-size-table-body td {
  border-bottom: 1px solid black;
}

sup {
  vertical-align: top;
  font-size: .75em;
}

/*
location
*/
.map-location-panel {
  background: url(./Loading_icon.gif) center center no-repeat;
  display: flex;
  flex-direction: column;
}

.map-location-panel iframe {
  flex: 1 0 auto;
}

/*
contaction information
*/
.contacts-content {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.phone-container {
  margin: 0px 0px 15px;
  color: red;
  font-size: 1.5em;
}

.call-today {
  margin: 0px 0px 5px;
}

.phone {
  margin: 0px 0px 0px 35px;
}

.address {
  font-style: italic;
  font-size: 1.2em;
}

.location {
  margin: 5px 0px 0px;
  font-size: .6em;
  text-align: center;
}

