
/** {
  border: 1px solid black;
}*/

/*
overall page setup
*/
#main {
  display: flex;
  justify-content: center; /*center along main axis*/
  font-family: sans-serif;
}

.app-content {
  display: flex;
  flex-direction: column;
  width: 500px;
}

/*
common panel/ui styling
*/
.info-panel {
  width: 100%;
  height: 300px;
  margin: 0px 0px 10px
}

/*
logo/header
*/
.logo-content {
  margin: 0px 0px 20px;
}

/*
features list
*/
.features-content {
  margin: 0px 0px 60px;
}

.features-list {
  font-size: 1.5em;
  padding-left: 30px;
}

.red-li-items {
  color: red;
}

/*
navigation links
*/
.navigation-content {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  margin: 0px 0px 25px;
}

/*
sizes and rates
*/
.sizes-and-rates {
  display: flex;
  justify-content: center;
}

.rate-size-table td {
  padding: 7px 0px 1px;
}

.rate-size-table-header {
  font-weight: 700;
  font-size: 1.1em;
  border-bottom: 3px solid black;
}

.sizes-header {
  width: 100px;
}

.rent-header {
  width: 150px;
}

.rate-size-table-body td {
  border-bottom: 1px solid black;
}

sup {
  vertical-align: top;
  font-size: .75em;
}

/*
location
*/
.map-location-panel {
  background: url(/src/Loading_icon.gif) center center no-repeat
}

/*
contaction information
*/
.contacts-content {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.phone-container {
  margin: 0px 0px 5px;
}

.phone {
  background-color: #003366;
  color: white;
  font-size: 1.7em;
}

.address {
  color: red;
  font-style: italic;
  font-size: 1.4em;
}

.location {
  font-size: .6em;
}