
/*********************************************************************************
**********************************************************************************
                                MOBILE FIRST LAYOUT
**********************************************************************************
*********************************************************************************/

/**********************************************************************
                          overall page setup
**********************************************************************/
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

#main {
  display: flex;
  -webkit-display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  font-family: sans-serif;
  height: 100%;
}

.app-content {
  display: flex;
  -webkit-display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  width: 100%;
  height: 100%;
}

/**********************************************************************
                          common panel/ui styling
**********************************************************************/
.info-panel {
  margin: 0px 0px 10px;
  max-height: 350px;
  flex: 1 0 auto; /*causes the info-panel to take up all available space between the header and footer*/
  -webkit-flex: 1 0 auto; /*causes the info-panel to take up all available space between the header and footer*/
}

/**********************************************************************
                          logo/header
**********************************************************************/
.logo-content {
  padding: 0px 0px 20px; /*centers the content and uses padding instead of margins for space for large resolutions*/
  margin: 0px auto 0px; /*ensure that the logo stays at the top of the page*/
  text-align: center; /*covers an ie bug where margin: auto doesn't work for centering: this centers the logo*/
}

.img-fill {
  max-height: 100%;
  max-width: 100%;
}

/**********************************************************************
                          features list
**********************************************************************/
.features-content {
  margin: 0px 0px 60px;
}

.features-list {
  font-size: 1.3em;
  padding-left: 30px;
}

.red-li-items {
  color: red;
}

/**********************************************************************
                          navigation links
**********************************************************************/
.navigation-content {
  display: flex;
  -webkit-display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  font-size: 1.0em;
  margin: 0px 0px 25px;
}

/**********************************************************************
                          sizes and rates
**********************************************************************/
.sizes-and-rates {
  display: flex;
  -webkit-display: flex;
  justify-content: center;
  -webkit-justify-content: center;
}

.rate-size-table td {
  padding: 7px 0px 1px;
}

.rate-size-table-header {
  font-weight: 700;
  font-size: 1.1em;
  border-bottom: 3px solid black;
}

.sizes-header {
  width: 100px;
}

.rent-header {
  width: 150px;
}

.rate-size-table-body td {
  border-bottom: 1px solid black;
}

sup {
  vertical-align: top;
  font-size: .75em;
}

/**********************************************************************
                          location
**********************************************************************/
.map-location-panel {
  background: url(./Loading_icon.gif) center center no-repeat;
  display: flex;
  -webkit-display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.map-location-panel iframe {
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
}

/**********************************************************************
                          contaction information
**********************************************************************/
.contacts-content {
  display: flex;
  -webkit-display: flex;
  flex-flow: column;
  -webkit-flex-flow: column;
  align-items: center;
  -webkit-align-items: center;
  margin: 0px 0px 10px; /*added some space at the bottom to get the last text off the bottom of the screen*/
}

.phone-container {
  margin: 0px 0px 15px;
  color: red;
  font-size: 1.5em;
}

.call-today {
  margin: 0px 0px 5px;
}

.phone {
  margin: 0px 0px 0px 35px;
}

.phone a {
  color: red;
}

.address {
  font-style: italic;
  font-size: 1.15em;
}

.location {
  margin: 5px 0px 0px;
  font-size: .6em;
  /* text-align: center; */
}

/*********************************************************************************
**********************************************************************************
                                WIDER THAN 500px
**********************************************************************************
*********************************************************************************/
@media (min-width: 500px) {
  
  /**********************************************************************
                            common panel/ui styling
  **********************************************************************/
  .info-panel {
    width: 500px;
    margin: 0px auto 10px;
  }
}

/*********************************************************************************
**********************************************************************************
                                LANDSCAPE ORIENTATION
**********************************************************************************
*********************************************************************************/
@media (max-width: 767px) and (orientation: landscape) {

/**********************************************************************
                          overall page setup
**********************************************************************/
.app-content {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
  }

/**********************************************************************
                          common panel/ui styling
**********************************************************************/
  .info-panel {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    margin: auto 0px;
    width: auto;
    height: 100%;
    order: 3;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
  }

/**********************************************************************
                          logo/header
**********************************************************************/
.logo-content {
    max-width: 315px;
    margin: 0px;
    order: 1;
  }

/**********************************************************************
                          contaction information
**********************************************************************/
.contacts-content {
    padding: 0px 0px 10px;
    margin: auto auto 0px;
    order: 2;
  }
}
