<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="At Home Climate Storage, Longview, TX  75604" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" /><!-- tell iOS not to format my phone number links -->
    <meta name="google-site-verification" content="pqzjWEmq0oshPDzADtHk4vX7RW1DOPv3uaMQPGZsuiM" />
    <meta name="msvalidate.01" content="C7E67FDDE1A41DB0301BE34ACB240A97" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    </script>
  </head>
  <body>
    <main id="main"></main>
  </body>
</html>